<div id="<%= dom_id challenge %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= challenge.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= challenge.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Position:</strong>
    <%= challenge.position %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Journey:</strong>
    <%= challenge.journey_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Challengeable:</strong>
    <%= challenge.challengeable_id %>
  </p>

</div>
