<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render @minitest_test_class %>

    <%= link_to "Edit this minitest test class", edit_minitest_test_class_path(@minitest_test_class), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Back to minitest test classes", minitest_test_classes_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to "Destroy this minitest test class", @minitest_test_class, method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>

    <div class="flex-col space-y-4 mt-4">
      <%= turbo_frame_tag dom_id(MinitestTestMethod.new) do %>
        <%= link_to "Add test method", new_minitest_test_class_minitest_test_method_path(@minitest_test_class), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
      <% end %>

      <%= render @minitest_test_class.minitest_test_methods %>
    </div>
  </div>

</div>
